.mobileCompanyClients{
    border-collapse: collapse;
    font-size: 20px;
}
.mobileCompanyClients button{
    font-size: 15px;
    padding: 10px;
}
td{
    border-top: solid lightgrey 1px;
    padding: 15px;
}
.tableHeadRow td{
    font-weight: bold;
    padding: 20px 15px;
}
  